Repository expo/expo-cli, pull requests merged in 2019-12, with the labels that each got.

#1300 fix: handle remote URLs in icon cache
  packages/expo-cli/src/commands/eject.ts
  packages/expo-cli/src/commands/eject/Eject.ts
  packages/expo-cli/src/commands/generate-module.ts
  packages/expo-cli/src/commands/generate-module/generateModuleAsync.ts
  packages/webpack-pwa-manifest-plugin/src/icons.ts
Labels: Platform: web

#1324 [webpack-pwa-manifest-plugin] Remove unused schemes
  packages/webpack-pwa-manifest-plugin/src/schemes/General.ts
  packages/webpack-pwa-manifest-plugin/src/schemes/OpenGraph.ts
  packages/webpack-pwa-manifest-plugin/src/schemes/Twitter.ts
Labels: Platform: web

#1323 [webpack-config] remove unused dependencies
  packages/webpack-config/package.json
  yarn.lock
Labels: Platform: web

#1336 [webpack-config] Fix public path for service workers and favicon
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-config/src/index.ts
  packages/webpack-config/src/plugins/ExpoInterpolateHtmlPlugin.ts
Labels: Platform: web

#1322 [webpack-config] update clean-webpack-plugin
  packages/webpack-config/package.json
  packages/webpack-config/src/addons/__tests__/withReporting-test.js
  packages/webpack-config/src/addons/withReporting.ts
  packages/webpack-config/src/env/paths.ts
  packages/webpack-config/src/webpack.config.ts
  yarn.lock
Labels: Platform: web

#1348 [webpack-config] fix linting
  .eslintignore
  packages/webpack-config/.eslintignore
  packages/webpack-config/.eslintrc.js
  packages/webpack-config/jest-puppeteer.config.js
  packages/webpack-config/package.json
  packages/webpack-config/src/addons/__tests__/withCompression-test.js
  packages/webpack-config/src/addons/__tests__/withEntry-test.js
  packages/webpack-config/src/addons/__tests__/withOptimizations-test.js
  packages/webpack-config/src/addons/__tests__/withReporting-test.js
  packages/webpack-config/src/env/__tests__/getConfig-test.js
  packages/webpack-config/src/env/__tests__/getMode-test.js
  packages/webpack-config/src/env/__tests__/paths-test.js
  packages/webpack-config/src/env/__tests__/validate-test.js
  packages/webpack-config/src/env/paths.ts
  packages/webpack-config/src/loaders/__tests__/createAllLoaders-test.js
  packages/webpack-config/src/loaders/__tests__/createBabelLoader-test.js
  packages/webpack-config/src/utils/__tests__/search-test.js
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web

#1354 Fix workbox and icon cache bugs
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-pwa-manifest-plugin/src/icons.ts
Labels: Platform: web, bug

#1344 [config] Add stronger types to ExpoConfig object
  packages/config/src/Config.ts
  packages/config/src/Config.types.ts
  packages/config/src/Web.ts
  packages/expo-cli/src/commands/upload/AndroidUploader.ts
  packages/expo-cli/src/commands/upload/IOSUploader.ts
  packages/webpack-config/src/addons/withCompression.ts
  packages/webpack-config/src/plugins/ExpoHtmlWebpackPlugin.ts
  packages/webpack-config/src/webpack.config.ts
  packages/xdl/src/Exp.ts
  packages/xdl/src/Project.ts
  packages/xdl/src/credentials/Credentials.ts
  packages/xdl/src/detach/IosNSBundle.ts
Labels: Expo config

#1376 [electron-adapter] Install dev packages correctly
  packages/electron-adapter/src/Config.ts
Labels: Platform: electron, bug

#1347 [webpack] Prevent installing sharp in expo-cli packages
  packages/expo-cli/src/commands/optimize.ts
  packages/expo-optimize/README.md
  packages/expo-optimize/package.json
  packages/expo-optimize/src/assets.ts
  packages/image-utils/package.json
  packages/image-utils/src/sharp.ts
  packages/webpack-config/src/addons/withReporting.ts
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-pwa-manifest-plugin/package.json
  packages/webpack-pwa-manifest-plugin/src/ImageComposite.ts
  packages/webpack-pwa-manifest-plugin/src/icons.ts
  packages/xdl/src/detach/AndroidShellApp.js
  yarn.lock
Labels: Platform: web

#1305 [expo-cli][xdl] add instant timeout to requests when `--offline` flag is passed
  packages/expo-cli/src/commands/start.js
  packages/expo-cli/src/credentials/context.ts
  packages/expo-cli/src/exp.ts
  packages/xdl/src/Api.ts
  packages/xdl/src/ApiV2.ts
  packages/xdl/src/ConnectionStatus.ts
  packages/xdl/src/Project.ts
  packages/xdl/src/project/Doctor.ts
  packages/xdl/src/xdl.ts
Labels: feedback needs to be addressed

#1257 Show NOTE when running fetch:android:hashes
  packages/expo-cli/src/commands/fetch/android.js
Labels: needs response from maintainer

#1386 [next-adapter] fix column style
  packages/next-adapter/document.js
Labels: Platform: web, bug with another tool

#1281 [next-adapter] added build script to required customizations
  packages/next-adapter/src/customize/manifest.ts
Labels: Platform: web, needs review
