Repository expo/expo-cli, pull requests merged in 2019-08, with the labels that each got.

#896 Added E2E tests for webpack-config
  .circleci/config.yml
  packages/webpack-config/jest-puppeteer.config.js
  packages/webpack-config/jest/build-project.js
  packages/webpack-config/jest/e2e-test-config.json
  packages/webpack-config/jest/unit-test-config.json
  packages/webpack-config/package.json
  packages/webpack-config/tests/__tests__/basic-test.js
  packages/webpack-config/tests/basic/App.js
  packages/xdl/src/Webpack.js
  yarn.lock
Labels: expo build, expo start, project: web

#912 Fix: "cannot assign to read only property `exports` of object: '#<Object>'"
  packages/webpack-config/webpack/loaders/createBabelLoaderAsync.js
Labels: bug, project: web

#856 [web] fix: allow URLs for splash screens and icons
  packages/webpack-config/webpack/utils/getPathsAsync.js
  packages/webpack-pwa-manifest-plugin/package.json
  packages/webpack-pwa-manifest-plugin/src/icons.js
  yarn.lock
Labels: project: web

#909 [webpack] Pass platform & mode (dev/prod) into Babel via "caller" option
  packages/expo-cli/src/commands/build/index.js
  packages/schemer/src/index.js
  packages/webpack-config/package.json
  packages/webpack-config/webpack/loaders/createBabelLoaderAsync.js
  packages/webpack-config/webpack/webpack.common.js
  packages/webpack-config/webpack/webpack.prod.js
  packages/xdl/src/Project.js
  packages/xdl/src/Web.ts
  packages/xdl/src/detach/IosPodsTools.js
  packages/xdl/src/detach/IosShellApp.js
  yarn.lock
Labels: project: web

#926 feat(web): add support for Next.js with Expo for Web
  .circleci/config.yml
  packages/webpack-config/jest-puppeteer.config.js
  packages/webpack-config/package.json
  packages/webpack-config/tests/__tests__/basic-test.js
  packages/webpack-config/tests/nextjs/.gitignore
  packages/webpack-config/tests/nextjs/.watchmanconfig
  packages/webpack-config/tests/nextjs/App.js
  packages/webpack-config/tests/nextjs/app.json
  packages/webpack-config/tests/nextjs/assets/icon.png
  packages/webpack-config/tests/nextjs/assets/splash.png
  packages/webpack-config/tests/nextjs/babel.config.js
  packages/webpack-config/tests/nextjs/package.json
  packages/webpack-config/tests/nextjs/pages/index.js
  packages/webpack-config/tests/nextjs/yarn.lock
  packages/webpack-config/withUnimodules.js
  packages/webpack-pwa-manifest-plugin/src/icons.js
  packages/xdl/src/ErrorCode.ts
  packages/xdl/src/Webpack.ts
  packages/xdl/src/createWebpackCompiler.ts
Labels: project: web

#938 [webpack-config] Implement public path
  packages/webpack-config/.npmignore
  packages/webpack-config/jest-puppeteer.config.js
  packages/webpack-config/tests/custom-homepage/.gitignore
  packages/webpack-config/tests/custom-homepage/README.md
  packages/webpack-config/tests/custom-homepage/app.json
  packages/webpack-config/tests/custom-homepage/babel.config.js
  packages/webpack-config/tests/custom-homepage/icon.png
  packages/webpack-config/tests/custom-homepage/index.js
  packages/webpack-config/tests/custom-homepage/package.json
  packages/webpack-config/tests/custom-homepage/yarn.lock
  packages/webpack-config/web-default/index.html
  packages/webpack-config/webpack/createClientEnvironment.js
  packages/webpack-config/webpack/createDevServerConfigAsync.js
  packages/webpack-config/webpack/utils/__tests__/__snapshots__/getPathsAsync-test.js.snap
  packages/webpack-config/webpack/utils/__tests__/getPathsAsync-test.js
  packages/webpack-config/webpack/utils/getPathsAsync.js
  packages/webpack-config/webpack/webpack.common.js
Labels: bug, expo build
