Repository expo/expo-cli, pull requests merged in 2019-05, with the labels that each got.

#561 Only start webpack if the user invokes web.
  packages/xdl/src/Project.js
Labels: project: web

#552 Use babel-preset-expo by default in web projects
  packages/webpack-config/package.json
  packages/webpack-config/webpack/loaders/createBabelLoader.js
  yarn.lock
Labels: project: web

#548 Fix validator filename casing for sensitive file systems
  packages/webpack-pwa-manifest-plugin/src/validators/Colors.js
  packages/webpack-pwa-manifest-plugin/src/validators/Presets.js
Labels: project: web

#564 Add how to get info about a specific command in --help output
  packages/expo-cli/src/exp.js
Labels: enhancement

#565 Reuse browser tabs
  packages/dev-tools/server/dev-server.js
  packages/expo-cli/src/commands/start.js
  packages/expo-cli/src/commands/start/TerminalUI.js
  packages/xdl/src/Web.js
Labels: enhancement

#555 Add image optimization functionality
  packages/dev-tools/common/state.js
  packages/dev-tools/components/ProjectManagerPublishingSection.js
  packages/dev-tools/server/graphql/GraphQLSchema.js
  packages/expo-cli/src/commands/optimize.js
  packages/expo-cli/src/commands/publish.js
  packages/xdl/package.json
  packages/xdl/src/AssetUtils.js
  packages/xdl/src/Project.js
  packages/xdl/src/xdl.js
  yarn.lock
Labels: enhancement

#567 Fix problems with building/running an ejected Expo app
  packages/expo-cli/src/commands/eject/Eject.js
Labels: bug, expo eject

#574 [web] Fixed various bugs related to building PWAs
  packages/config/src/Config.js
  packages/webpack-config/web-default/index.html
  packages/webpack-config/webpack/utils/getPaths.js
  packages/webpack-config/webpack/webpack.common.js
  packages/webpack-config/webpack/webpack.dev.js
  packages/webpack-config/webpack/webpack.prod.js
  packages/webpack-pwa-manifest-plugin/src/createMetatagsFromConfig.js
  packages/webpack-pwa-manifest-plugin/src/icons.js
  packages/webpack-pwa-manifest-plugin/src/index.js
  packages/webpack-pwa-manifest-plugin/src/injector.js
  packages/xdl/src/Webpack.js
Labels: project: web

#577 Add --quality flag to specify amount of compression
  packages/expo-cli/src/commands/optimize.js
  packages/xdl/src/AssetUtils.js
  packages/xdl/src/Project.js
  packages/xdl/src/project/Convert.js
Labels: enhancement

#576 Add node shebang to publish script
  scripts/publish.js
Labels: enhancement

#584 [web] Easier to debug babel + favicon static bug
  packages/webpack-config/webpack/loaders/createBabelLoader.js
  packages/webpack-config/webpack/utils/getPaths.js
  packages/webpack-config/webpack/webpack.common.js
Labels: project: web

#597 Use latest module template in generate-module
  packages/expo-cli/src/commands/generate-module/fetchTemplate.js
Labels: bug

#646 Provide default pattern if assetBundlePatterns is unspecified
  packages/xdl/src/AssetUtils.js
Labels: bug

#647 Remove prompting from optimize workflow
  packages/expo-cli/src/commands/optimize.js
  packages/expo-cli/src/commands/publish.js
  packages/xdl/src/AssetUtils.js
  packages/xdl/src/Project.js
  packages/xdl/src/project/Doctor.js
Labels: enhancement, expo optimize
