Repository expo/expo-cli, pull requests merged in 2019-11, with the labels that each got.

#1174 Added woff2 and eot formats to webpack-config
  packages/webpack-config/src/extensions.ts
  packages/webpack-config/src/loaders/createFontLoader.ts
  packages/webpack-config/src/webpack.config.ts
  packages/webpack-config/src/withUnimodules.ts
Labels: Platform: web

#1175 Added tests for `getWebOutputPath`
  packages/config/src/Config.ts
  packages/config/src/__tests__/Config-test.js
Labels: Platform: web

#1159 fix(webpack-config): use custom register-service-worker.js if available
  packages/webpack-config/src/types.ts
  packages/webpack-config/src/utils/paths.ts
  packages/webpack-config/src/webpack.config.ts
  packages/webpack-config/src/withWorkbox.ts
Labels: Platform: web

#1178 [config] use package description for config description
  packages/config/src/Config.ts
  packages/config/src/Config.types.ts
  packages/config/src/__tests__/Config-test.js
Labels: Platform: web

#1093 Move some agnostic path utils to config
  packages/config/package.json
  packages/config/src/paths/__tests__/__snapshots__/extensions-test.js.snap
  packages/config/src/paths/__tests__/extensions-test.js
  packages/config/src/paths/__tests__/paths-test.js
  packages/config/src/paths/extensions.ts
  packages/config/src/paths/index.ts
  packages/config/src/paths/paths.ts
  packages/webpack-config/getWebExtensions.js
  packages/webpack-config/src/loaders/createBabelLoader.ts
  packages/webpack-config/src/utils/__tests__/__snapshots__/extensions-test.js.snap
  packages/webpack-config/src/utils/__tests__/__snapshots__/paths-test.js.snap
  packages/webpack-config/src/utils/__tests__/extensions-test.js
  packages/webpack-config/src/utils/extensions.ts
  packages/webpack-config/src/utils/paths.ts
  yarn.lock
Labels: Platform: web

#1146 [next-adapter] Add default server
  packages/next-adapter/README.md
  packages/next-adapter/document.js
  packages/next-adapter/package.json
  packages/next-adapter/service-worker.js
  packages/next-adapter/src/Server.ts
  packages/next-adapter/src/index.ts
  packages/next-adapter/src/withExpo.ts
  packages/next-adapter/tsconfig.json
  packages/webpack-config/src/webpack.config.unimodules.ts
  packages/webpack-config/src/withUnimodules.ts
  packages/webpack-config/tests/nextjs/app.json
  packages/webpack-config/tests/nextjs/babel.config.js
  packages/webpack-config/tests/nextjs/next.config.js
  packages/webpack-config/tests/nextjs/package.json
  packages/webpack-config/tests/nextjs/pages/_document.js
  packages/webpack-config/tests/nextjs/public/service-worker.js
  packages/webpack-config/tests/nextjs/server.js
  packages/webpack-config/tests/nextjs/static/service-worker.js
  packages/webpack-config/tests/nextjs/yarn.lock
  packages/xdl/src/ErrorCode.ts
  packages/xdl/src/Webpack.ts
  yarn.lock
Labels: Platform: web

#1193 [next] fix paths bug
  packages/next-adapter/src/withExpo.ts
  packages/webpack-config/tests/nextjs/package.json
Labels: Platform: web

#1195 [webpack-config] Add more composition methods
  packages/webpack-config/src/__tests__/withAlias-test.js
  packages/webpack-config/src/extensions.ts
  packages/webpack-config/src/loaders/createBabelLoader.ts
  packages/webpack-config/src/plugins/ExpoDefinePlugin.ts
  packages/webpack-config/src/plugins/ExpoInterpolateHtmlPlugin.ts
  packages/webpack-config/src/plugins/index.ts
  packages/webpack-config/src/types.ts
  packages/webpack-config/src/utils/getConfig.ts
  packages/webpack-config/src/utils/loaders.ts
  packages/webpack-config/src/utils/paths.ts
  packages/webpack-config/src/utils/validate.ts
  packages/webpack-config/src/webpack.config.ts
  packages/webpack-config/src/withAlias.ts
  packages/webpack-config/src/withUnimodules.ts
Labels: Platform: electron, Platform: web

#1180 Created Electron adapter
  .circleci/config.yml
  packages/electron-adapter/.gitignore
  packages/electron-adapter/LICENSE
  packages/electron-adapter/README.md
  packages/electron-adapter/bin/expo-electron.js
  packages/electron-adapter/example/.gitignore
  packages/electron-adapter/example/app.json
  packages/electron-adapter/example/assets/icon.png
  packages/electron-adapter/example/assets/splash.png
  packages/electron-adapter/example/babel.config.js
  packages/electron-adapter/example/electron-webpack.js
  packages/electron-adapter/example/index.js
  packages/electron-adapter/example/package.json
  packages/electron-adapter/example/yarn.lock
  packages/electron-adapter/package.json
  packages/electron-adapter/scripts/customize.js
  packages/electron-adapter/scripts/start.js
  packages/electron-adapter/src/Config.ts
  packages/electron-adapter/src/Electron.ts
  packages/electron-adapter/src/Webpack.ts
  packages/electron-adapter/template/main/index.js
  packages/electron-adapter/template/webpack.config.js
  packages/electron-adapter/tsconfig.json
  packages/xdl/package.json
  yarn.lock
Labels: Platform: electron, Platform: web

#1201 Split NextJS E2E tests in CI
  .circleci/config.yml
  packages/webpack-config/package.json
Labels: Platform: web

#1202 [webpack-config] fix test regarding running CI locally
  packages/image-utils/src/index.ts
  packages/image-utils/src/sharp.ts
  packages/webpack-config/jest/build-project.js
  packages/webpack-config/src/webpack.config.ts
  packages/webpack-config/tests/__tests__/basic-test.js
  packages/webpack-pwa-manifest-plugin/src/icons.ts
  packages/xdl/src/Web.ts
  packages/xdl/src/Webpack.ts
Labels: Platform: web

#1215 Improve iOS PWA defaults
  packages/config/src/Config.ts
  packages/webpack-config/web-default/index.html
Labels: Platform: web

#1216 fix performance hints in webpack
  packages/webpack-config/src/webpack.config.ts
  packages/webpack-config/src/withWorkbox.ts
Labels: Platform: web

#1205 [next-adapter] Redirect Next.js to the Expo docs
  packages/next-adapter/README.md
Labels: Platform: web

#1222 [webpack-config] Moved dev server to addons
  packages/webpack-config/src/addons/index.ts
  packages/webpack-config/src/addons/withDevServer.ts
  packages/webpack-config/src/addons/withNodeMocks.ts
  packages/webpack-config/src/createClientEnvironment.ts
  packages/webpack-config/src/env/index.ts
  packages/webpack-config/src/plugins/ExpoDefinePlugin.ts
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web

#858 fix(web): babel include config on Windows
  packages/webpack-config/src/loaders/createBabelLoader.ts
Labels: Platform: web

#1230 [electron-adapter] fix everything
  packages/electron-adapter/package.json
  packages/electron-adapter/src/Config.ts
  packages/electron-adapter/src/Webpack.ts
  packages/webpack-config/package.json
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-config/src/utils/search.ts
  packages/xdl/package.json
  yarn.lock
Labels: Platform: electron, Platform: web

#1192 Moved `expo-cli optimize` to `npx expo-optimize`
  packages/dev-tools/server/graphql/GraphQLSchema.js
  packages/expo-cli/package.json
  packages/expo-cli/src/commands/optimize.ts
  packages/expo-cli/src/commands/publish.js
  packages/expo-cli/src/commands/start/TerminalUI.js
  packages/expo-optimize/.gitignore
  packages/expo-optimize/LICENSE
  packages/expo-optimize/README.md
  packages/expo-optimize/package.json
  packages/expo-optimize/src/assets.ts
  packages/expo-optimize/src/index.ts
  packages/expo-optimize/src/update.ts
  packages/expo-optimize/tsconfig.json
  packages/xdl/src/AssetUtils.ts
  packages/xdl/src/Project.ts
  packages/xdl/src/xdl.ts
  yarn.lock
Labels: expo optimize

#1247 Temporarily delete the unimplemented permissions command which uses libxml
  packages/expo-cli/package.json
  packages/expo-cli/src/commands/permissions.ts
Labels: bug

#1206 [electron-adapter] redirect to expo docs
  packages/electron-adapter/README.md
Labels: Platform: web

#1242 [next][web] Disable unimodule font loading in next
  packages/next-adapter/src/withExpo.ts
  packages/webpack-config/src/loaders/index.ts
Labels: Platform: web

#1261 [electron-adapter] ensure project is setup on start
  packages/electron-adapter/bin/expo-electron.js
  packages/electron-adapter/package.json
  packages/electron-adapter/scripts/customize.js
  packages/electron-adapter/scripts/start.js
  packages/electron-adapter/src/Config.ts
  packages/electron-adapter/src/Webpack.ts
  packages/electron-adapter/template/electron-webpack.js
  packages/electron-adapter/template/electron/main/index.js
  packages/electron-adapter/template/electron/webpack.config.js
  yarn.lock
Labels: Platform: electron

#1270 [electron] fix case where no deps are installed
  packages/electron-adapter/src/Config.ts
Labels: Platform: electron

#1278 [Web] Service Worker: Conditionally parse event.data as JSON
  packages/webpack-config/web-default/expo-service-worker.js
Labels: Platform: web

#1276 [webpack-config] Add ability to optionally include resize-observer-polyfill
  packages/webpack-config/src/addons/__tests__/withEntry-test.js
  packages/webpack-config/src/addons/index.ts
  packages/webpack-config/src/addons/withEntry.ts
  packages/webpack-config/src/addons/withUnimodules.ts
  packages/webpack-config/src/webpack.config.ts
  packages/webpack-config/tests/__tests__/basic-test.js
  packages/webpack-config/tests/basic/App.js
  packages/webpack-config/tests/basic/package.json
  packages/webpack-config/tests/basic/yarn.lock
Labels: Platform: web

#1277 create docs for webpack-config
  packages/webpack-config/README.md
Labels: Platform: web
