Repository expo/expo-cli, pull requests merged in 2019-07, with the labels that each got.

#796 fix: roll webpack-deep-scope-plugin back
  packages/webpack-config/package.json
  yarn.lock
Labels: project: web

#798 fix: remove alpha from iOS PWA images when a background color is added
  packages/webpack-pwa-manifest-plugin/src/icons.js
Labels: bug, project: web

#795 Added support for `manifest.extra` in the expo-constants lib
  packages/config/src/Config.ts
Labels: bug, project: web

#831 Fixed TerminalUI and GraphQLSchema
  packages/dev-tools/server/graphql/GraphQLSchema.js
  packages/expo-cli/src/commands/start/TerminalUI.js
Labels: bug

#845 [web][webpack-config] Added linting errors to Webpack config
  packages/webpack-config/package.json
  packages/webpack-config/webpack/webpack.common.js
  packages/webpack-config/webpack/webpack.prod.js
  packages/xdl/src/Webpack.js
  yarn.lock
Labels: project: web

#860 feat(webpack-config): Made ESLint experimental
  packages/webpack-config/package.json
  packages/webpack-config/webpack/loaders/createBabelLoaderAsync.js
  packages/webpack-config/webpack/loaders/createFontLoader.js
  packages/webpack-config/webpack/webpack.common.js
  yarn.lock
Labels: bug, project: web

#833 refactor(web): Make Webpack more readable
  packages/webpack-config/webpack/loaders/createBabelLoaderAsync.js
  packages/xdl/src/Project.js
  packages/xdl/src/Webpack.js
Labels: project: web

#861 test(webpack-config): add tests
  .circleci/config.yml
  packages/webpack-config/babel.config.js
  packages/webpack-config/jest/unit-test-config.json
  packages/webpack-config/package.json
  packages/webpack-config/tests/__tests__/basic-test.js
  packages/webpack-config/tests/basic/.gitignore
  packages/webpack-config/tests/basic/.watchmanconfig
  packages/webpack-config/tests/basic/App.js
  packages/webpack-config/tests/basic/app.json
  packages/webpack-config/tests/basic/assets/icon.png
  packages/webpack-config/tests/basic/assets/splash.png
  packages/webpack-config/tests/basic/babel.config.js
  packages/webpack-config/tests/basic/index.js
  packages/webpack-config/tests/basic/package.json
  packages/webpack-config/tests/basic/yarn.lock
  packages/webpack-config/webpack/loaders/createBabelLoaderAsync.js
  packages/webpack-config/webpack/utils/__tests__/__snapshots__/getConfigAsync-test.js.snap
  packages/webpack-config/webpack/utils/__tests__/__snapshots__/getPathsAsync-test.js.snap
  packages/webpack-config/webpack/utils/__tests__/__snapshots__/normalizePaths-test.js.snap
  packages/webpack-config/webpack/utils/__tests__/getConfigAsync-test.js
  packages/webpack-config/webpack/utils/__tests__/getMode-test.js
  packages/webpack-config/webpack/utils/__tests__/getPathsAsync-test.js
  packages/webpack-config/webpack/utils/__tests__/normalizePaths-test.js
  packages/webpack-config/webpack/utils/normalizePaths.js
  packages/webpack-config/webpack/webpack.common.js
  packages/xdl/src/Webpack.js
  yarn.lock
Labels: project: web

#895 Remove ESLint from webpack-config
  packages/webpack-config/package.json
  packages/webpack-config/webpack/webpack.common.js
  yarn.lock
Labels: project: web

#853 [web] fix `expo customize:web` on Windows
  packages/expo-cli/src/commands/customize.js
Labels: project: web
