Repository expo/expo-cli, pull requests merged in 2019-06, with the labels that each got.

#633 fix(webpack-config): set body overflow-y to "auto"
  packages/webpack-config/web-default/index.html
Labels: project: web

#686 Account for webpack config being async
  packages/xdl/src/Web.js
  packages/xdl/src/Webpack.js
Labels: enhancement, project: web

#688 Added EXPO_WEB_DEBUG to disable minimizer and add file paths
  packages/xdl/src/Web.js
  packages/xdl/src/createWebpackCompiler.js
Labels: enhancement, project: web

#687 Make CSS body > div style less intrusive
  packages/webpack-config/web-default/index.html
Labels: bug, project: web

#683 Diagnose web
  packages/webpack-config/package.json
  packages/webpack-config/webpack.config.js
  packages/webpack-config/webpack/utils/Diagnosis.js
  packages/xdl/src/Web.js
  packages/xdl/src/Webpack.js
  packages/xdl/src/createWebpackCompiler.js
  yarn.lock
Labels: enhancement, project: web

#684 Added `expo customize:web`
  packages/expo-cli/src/PackageManager.js
  packages/expo-cli/src/commands/customize.js
  packages/webpack-config/template/webpack.config.js
  packages/xdl/src/Web.js
Labels: enhancement, project: web

#715 Fixed iOS PWA splash screens
  packages/config/src/Config.ts
  packages/webpack-config/webpack/webpack.common.js
  packages/webpack-pwa-manifest-plugin/src/createMetatagsFromConfig.js
Labels: bug, project: web

#714 Replace Jimp with sharp
  packages/webpack-pwa-manifest-plugin/package.json
  packages/webpack-pwa-manifest-plugin/src/icons.js
Labels: enhancement, project: web

#721 Increase default optimize quality to 80
  packages/expo-cli/src/commands/optimize.js
Labels: expo optimize

#732 [webpack-config] Converted to async
  packages/webpack-config/webpack.config.js
  packages/webpack-config/webpack/createDevServerConfigAsync.js
  packages/webpack-config/webpack/createIndexHTMLFromAppJSONAsync.js
  packages/webpack-config/webpack/loaders/createBabelLoaderAsync.js
  packages/webpack-config/webpack/utils/Diagnosis.js
  packages/webpack-config/webpack/utils/getConfigAsync.js
  packages/webpack-config/webpack/utils/getPathsAsync.js
  packages/webpack-config/webpack/webpack.common.js
  packages/webpack-config/webpack/webpack.config.unimodules.js
  packages/webpack-config/webpack/webpack.dev.js
  packages/webpack-config/webpack/webpack.prod.js
Labels: enhancement, project: web

#699 feat(webpack-config): enable SW in dev mode for notifications
  packages/webpack-config/webpack/webpack.common.js
Labels: enhancement

#733 Made polyfill disabled by default
  packages/expo-cli/src/commands/build/index.js
Labels: project: web

#748 Ability to override babel project root
  packages/webpack-config/webpack/loaders/createBabelLoaderAsync.js
  packages/webpack-config/webpack/webpack.common.js
Labels: project: web

#750 [web] Added new main entry point
  packages/webpack-config/webpack/utils/getPathsAsync.js
Labels: project: web

#761 feat(webpack-config): add abiliity to disable deep scope
  packages/webpack-config/utils.js
  packages/webpack-config/webpack/webpack.common.js
Labels: project: web
