Repository expo/expo-cli, pull requests merged in 2020-02, with the labels that each got.

#1492 Always show web in dev tools
  packages/dev-tools/common/state.js
  packages/dev-tools/components/ProjectManager.js
  packages/dev-tools/components/ProjectManagerSidebarOptions.js
  packages/dev-tools/components/QRCode.js
  packages/dev-tools/pages/index.js
  packages/dev-tools/server/graphql/GraphQLSchema.js
  packages/expo-cli/src/commands/start/TerminalUI.js
Labels: Platform: web

#1508 Add support for styled-components in next.js expo
  packages/webpack-config/src/loaders/createBabelLoader.ts
Labels: Platform: web

#1510 Add ability to include modules to the babel loader
  packages/webpack-config/README.md
  packages/webpack-config/src/addons/withUnimodules.ts
  packages/webpack-config/src/loaders/__tests__/createBabelLoader-test.js
  packages/webpack-config/src/loaders/createAllLoaders.ts
  packages/webpack-config/src/loaders/createBabelLoader.ts
  packages/webpack-config/src/loaders/index.ts
  packages/webpack-config/src/types.ts
  packages/webpack-config/src/utils/__tests__/search-test.js
  packages/webpack-config/src/utils/search.ts
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web

#1509 Deprecate Diagnosis from webpack-config
  packages/webpack-config/package.json
  packages/webpack-config/src/Diagnosis.ts
  packages/webpack-config/src/env/__tests__/__snapshots__/validate-test.js.snap
  packages/webpack-config/src/env/validate.ts
  packages/webpack-config/src/index.ts
  packages/webpack-config/src/types.ts
  packages/xdl/src/Web.ts
  packages/xdl/src/Webpack.ts
  yarn.lock
Labels: Platform: web

#1342 [config] Create dynamic config "app.config.js"
  packages/config/__mocks__/resolve-from.js
  packages/config/package.json
  packages/config/src/Config.ts
  packages/config/src/Config.types.ts
  packages/config/src/Errors.ts
  packages/config/src/Modules.ts
  packages/config/src/Project.ts
  packages/config/src/__tests__/Config-test.js
  packages/config/src/__tests__/ConfigParsing-test.js
  packages/config/src/__tests__/Web-test.js
  packages/config/src/__tests__/__snapshots__/getConfig-test.js.snap
  packages/config/src/__tests__/fixtures/behavior/syntax-error/app.config.js
  packages/config/src/__tests__/fixtures/language-support/js/app.config.js
  packages/config/src/__tests__/fixtures/language-support/js/app.json
  packages/config/src/__tests__/fixtures/language-support/js/export-json_app.config.js
  packages/config/src/__tests__/fixtures/language-support/js/package.json
  packages/config/src/__tests__/fixtures/language-support/js/with-default_app.config.js
  packages/config/src/__tests__/fixtures/language-support/toml/app.config.toml
  packages/config/src/__tests__/fixtures/language-support/toml/app.toml
  packages/config/src/__tests__/fixtures/language-support/toml/package.json
  packages/config/src/__tests__/fixtures/language-support/ts/app.config.ts
  packages/config/src/__tests__/fixtures/language-support/ts/package.json
  packages/config/src/__tests__/fixtures/language-support/ts/tsconfig.json
  packages/config/src/__tests__/fixtures/language-support/yaml/app.config.yaml
  packages/config/src/__tests__/fixtures/language-support/yaml/app.yaml
  packages/config/src/__tests__/fixtures/language-support/yaml/package.json
  packages/config/src/__tests__/getConfig-test.js
  packages/config/src/getConfig.ts
  packages/xdl/src/detach/IosWorkspace.js
  yarn.lock
Labels: Expo config, needs review

#1519 [expo-cli] use getConfig in customize command
  packages/config/src/getConfig.ts
  packages/expo-cli/src/commands/customize.ts
Labels: Platform: web

#1521 [xdl] Migrate getSlug to use getConfig
  packages/xdl/src/Project.ts
Labels: Expo config

#1516 bump webpack-manifest-plugin@^2.2.0
  packages/webpack-config/package.json
  packages/webpack-config/src/addons/withUnimodules.ts
  yarn.lock
Labels: Platform: web

#1527 Add support for app.config.js in expo-optimize
  packages/expo-optimize/src/assets.ts
Labels: Expo config, expo optimize

#1517 [webpack-config] Warn when the babel config is missing
  .circleci/config.yml
  packages/dev-tools/package.json
  packages/webpack-config/package.json
  packages/webpack-config/src/loaders/__tests__/createBabelLoader-test.js
  packages/webpack-config/src/loaders/createBabelLoader.ts
  yarn.lock
Labels: Platform: web

#1523 [xdl] Add `app.config.js` support to `getPublishInfoAsync`.
  packages/xdl/src/Exp.ts
Labels: Expo config

#1522 Migrate Webpack modules to use getConfig
  packages/xdl/src/Web.ts
  packages/xdl/src/Webpack.ts
Labels: Expo config, Platform: web

#1545 fix --config option when evaluating config
  packages/config/src/__tests__/ConfigParsing-test.js
  packages/config/src/__tests__/fixtures/behavior/custom-location-json/app.json
  packages/config/src/__tests__/fixtures/behavior/custom-location-json/package.json
  packages/config/src/__tests__/fixtures/behavior/custom-location-json/src/app.staging.json
  packages/config/src/getConfig.ts
Labels: Expo config, bug

#1526 Add support for app.config.js in webpack-config
  packages/config/src/Web.ts
  packages/electron-adapter/src/Webpack.ts
  packages/webpack-config/src/addons/withCompression.ts
  packages/webpack-config/src/addons/withDevServer.ts
  packages/webpack-config/src/addons/withUnimodules.ts
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-config/src/env/getConfig.ts
  packages/webpack-config/src/env/getConfigMode.ts
  packages/webpack-config/src/env/getMode.ts
  packages/webpack-config/src/env/paths.ts
  packages/webpack-config/src/env/validate.ts
  packages/webpack-config/src/loaders/createAllLoaders.ts
  packages/webpack-config/src/loaders/createBabelLoader.ts
  packages/webpack-config/src/plugins/ExpoDefinePlugin.ts
  packages/webpack-config/src/plugins/ExpoHtmlWebpackPlugin.ts
  packages/webpack-config/src/webpack.config.ts
  packages/webpack-pwa-manifest-plugin/src/__tests__/config-test.js
  packages/webpack-pwa-manifest-plugin/src/__tests__/icons-test.js
Labels: Expo config, Platform: web

#1547 [webpack-config] Add prop to disable offline support
  packages/webpack-config/README.md
  packages/webpack-config/src/env/validate.ts
  packages/webpack-config/src/index.ts
  packages/webpack-config/src/loaders/createAllLoaders.ts
  packages/webpack-config/src/plugins/ExpoDefinePlugin.ts
  packages/webpack-config/src/plugins/ExpoInterpolateHtmlPlugin.ts
  packages/webpack-config/src/plugins/ExpoProgressBarPlugin.ts
  packages/webpack-config/src/plugins/index.ts
  packages/webpack-config/src/types.ts
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web

#1548 [xdl] Add app.config.js support to Doctor module
  packages/config/src/Config.ts
  packages/xdl/src/project/Doctor.ts
Labels: Expo config

#1549 [xdl] add app.config.js support to detach
  packages/expo-cli/src/commands/eject/Eject.ts
  packages/xdl/src/detach/Detach.js
Labels: Expo config

#1461 fix(webpack-config): remove compressed versions from manifest
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web

#1551 [webpack] Updated basic E2E test SDK to 36
  packages/webpack-config/src/env/__tests__/__snapshots__/getConfig-test.js.snap
  packages/webpack-config/tests/basic/.watchmanconfig
  packages/webpack-config/tests/basic/App.js
  packages/webpack-config/tests/basic/app.json
  packages/webpack-config/tests/basic/assets/icon.png
  packages/webpack-config/tests/basic/assets/splash.png
  packages/webpack-config/tests/basic/package.json
  packages/webpack-config/tests/basic/yarn.lock
Labels: Platform: web

#1524 [xdl][Project] Support app.config.js
  packages/xdl/package.json
  packages/xdl/src/Config.ts
  packages/xdl/src/Project.ts
  packages/xdl/src/Versions.ts
  yarn.lock
Labels: Expo config

#1580 [webpack-config] Skip requiring the fixture to have modules installed
  .circleci/config.yml
  jest.config.js
  packages/webpack-config/jest/unit-test-config.js
  packages/webpack-config/jest/unit-test-config.json
  packages/webpack-config/package.json
  packages/webpack-config/src/addons/withUnimodules.ts
  packages/webpack-config/src/env/__tests__/__snapshots__/getConfig-test.js.snap
  packages/webpack-config/src/env/__tests__/getConfig-test.js
  packages/webpack-config/src/env/paths.ts
  packages/webpack-config/src/loaders/__tests__/createBabelLoader-test.js
  packages/webpack-config/src/loaders/createAllLoaders.ts
  packages/webpack-config/src/loaders/createBabelLoader.ts
  packages/webpack-config/src/webpack.config.ts
  packages/webpack-config/tests/basic/app.json
Labels: Platform: web

#1587 [expo-cli] Refactor and test the upgrade command
  packages/config/src/Config.ts
  packages/expo-cli/__mocks__/fs.js
  packages/expo-cli/__mocks__/resolve-from.js
  packages/expo-cli/package.json
  packages/expo-cli/src/commands/__tests__/upgrade-test.ts
  packages/expo-cli/src/commands/upgrade.ts
  packages/expo-cli/src/prompt.ts
Labels: Expo config

#1588 Refactor client commands to support app.config.js
  packages/expo-cli/src/commands/client/index.js
  packages/expo-cli/src/commands/utils/ClientUpgradeUtils.ts
Labels: Expo config
