Repository expo/expo-cli, pull requests merged in 2020-07, with the labels that each got.

#2334 Upgraded copy-webpack-plugin
  packages/webpack-config/package.json
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-config/src/webpack.config.ts
  yarn.lock
Labels: Platform: web, 🧹 chore

#2335 [webpack-config] Remove yup validation
  packages/webpack-config/README.md
  packages/webpack-config/package.json
  packages/webpack-config/src/__tests__/webpack.config-test.js
  packages/webpack-config/src/env/__tests__/validate-test.js
  packages/webpack-config/src/env/validate.ts
  packages/webpack-config/src/types.ts
  yarn.lock
Labels: 🧹 chore

#2336 Updated webpack version
  package.json
  packages/expo-cli/package.json
  packages/next-adapter/src/cli/index.ts
  packages/webpack-config/README.md
  packages/webpack-config/package.json
  packages/webpack-config/src/__tests__/__snapshots__/webpack.config-test.js.snap
  packages/webpack-config/src/__tests__/webpack.config-test.js
  packages/webpack-config/src/addons/withDevServer.ts
  packages/webpack-config/src/addons/withUnimodules.ts
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-config/src/loaders/createAllLoaders.ts
  packages/webpack-config/src/plugins/ExpoInterpolateHtmlPlugin.ts
  packages/webpack-config/src/webpack.config.ts
  packages/xdl/package.json
  yarn.lock
Labels: Platform: web, 🧹 chore

#2212 [expo-cli] implement webhooks v2
  packages/expo-cli/src/CommandError.ts
  packages/expo-cli/src/commands/__tests__/webhooks-test.ts
  packages/expo-cli/src/commands/webhooks.ts
  packages/xdl/src/ApiV2.ts
  packages/xdl/src/Webhooks.ts
  packages/xdl/src/xdl.ts
Labels: enhancement

#2237 chore: Add e2e tests for `expo export`
  packages/expo-cli/e2e/TestUtils.ts
  packages/expo-cli/e2e/__tests__/__snapshots__/export-test.ts.snap
  packages/expo-cli/e2e/__tests__/eject-test.ts
  packages/expo-cli/e2e/__tests__/export-test.ts
  packages/expo-cli/e2e/__tests__/init-test.ts
  packages/expo-cli/package.json
  yarn.lock
Labels: 🧹 chore

#2346 [webpack-config] Interop assets like Metro bundler
  packages/webpack-config/e2e/__tests__/basic-test.js
  packages/webpack-config/e2e/basic/App.js
  packages/webpack-config/e2e/basic/font.ttf
  packages/webpack-config/e2e/basic/img.png
  packages/webpack-config/e2e/basic/random.bacon
  packages/webpack-config/src/__tests__/__snapshots__/webpack.config-test.js.snap
  packages/webpack-config/src/loaders/createAllLoaders.ts
  packages/webpack-config/src/loaders/createFontLoader.ts
Labels: Platform: web, bug, bug with another tool

#2349 Disable codecov
  .github/workflows/test.yml
Labels: bug with another tool

#2412 Fix next-adapter `external` bug
  packages/webpack-config/src/addons/withUnimodules.ts
Labels: Platform: web, bug
