Repository expo/expo-cli, pull requests merged in 2020-03, with the labels that each got.

#1615 [xdl] Automatically start an emulator when no android device is connected
  packages/xdl/src/Android.ts
Labels: android-emulator

#1643 [webpack-config] Delete deprecated withUnimodules import
  packages/webpack-config/withUnimodules.js
Labels: Platform: web

#1642 Remove brotli support from webpack-config
  packages/babel-preset-cli/ts-declarations/brotli-webpack-plugin/index.d.ts
  packages/webpack-config/package.json
  packages/webpack-config/src/addons/__tests__/withCompression-test.js
  packages/webpack-config/src/addons/withCompression.ts
  yarn.lock
Labels: Platform: web

#1663 [webpack-config] Exclude compressed files from the precached manifest
  packages/webpack-config/src/addons/withWorkbox.ts
  yarn.lock
Labels: Platform: web

#1671 [webpack-config] fix service worker register on initial build
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-config/tests/__tests__/basic-test.js
  packages/webpack-config/tests/basic/App.js
  packages/webpack-config/tests/basic/yarn.lock
Labels: Platform: web, bug

#1682 [config] remove mode from getConfig
  packages/config/src/Config.ts
  packages/config/src/Config.types.ts
  packages/config/src/Web.ts
  packages/config/src/__tests__/Config-test.js
  packages/config/src/__tests__/ConfigParsing-test.js
  packages/config/src/__tests__/fixtures/language-support/js/app.config.js
  packages/config/src/__tests__/getConfig-test.js
  packages/config/src/paths/__tests__/paths-test.js
  packages/config/src/paths/paths.ts
  packages/electron-adapter/src/Webpack.ts
  packages/expo-cli/src/commands/client/index.ts
  packages/expo-cli/src/commands/customize.ts
  packages/expo-cli/src/commands/eject/Eject.ts
  packages/expo-cli/src/commands/publish-info.ts
  packages/expo-cli/src/commands/publish-modify.ts
  packages/expo-cli/src/commands/upgrade.ts
  packages/expo-cli/src/commands/utils/ClientUpgradeUtils.ts
  packages/expo-optimize/src/assets.ts
  packages/webpack-config/src/addons/withDevServer.ts
  packages/webpack-config/src/addons/withUnimodules.ts
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-config/src/env/__tests__/getConfig-test.js
  packages/webpack-config/src/env/getConfig.ts
  packages/webpack-config/src/env/getConfigMode.ts
  packages/webpack-config/src/env/paths.ts
  packages/webpack-config/src/env/validate.ts
  packages/webpack-config/src/loaders/createAllLoaders.ts
  packages/webpack-config/src/loaders/createBabelLoader.ts
  packages/webpack-config/src/plugins/ExpoDefinePlugin.ts
  packages/webpack-config/src/plugins/ExpoHtmlWebpackPlugin.ts
  packages/webpack-config/src/webpack.config.ts
  packages/webpack-pwa-manifest-plugin/src/__tests__/config-test.js
  packages/xdl/src/Android.ts
  packages/xdl/src/Config.ts
  packages/xdl/src/Exp.ts
  packages/xdl/src/Project.ts
  packages/xdl/src/Simulator.ts
  packages/xdl/src/Web.ts
  packages/xdl/src/Webpack.ts
  packages/xdl/src/detach/Detach.js
  packages/xdl/src/project/Doctor.ts
Labels: Expo config

#1581 Migrate all running/publishing config reading methods to new app.config.js
  packages/dev-tools/server/graphql/GraphQLSchema.ts
  packages/expo-cli/src/commands/build/BaseBuilder.ts
  packages/expo-cli/src/commands/install.ts
  packages/expo-cli/src/commands/publish-info.ts
  packages/expo-cli/src/commands/publish.ts
  packages/expo-cli/src/commands/start.ts
  packages/expo-cli/src/commands/upgrade.ts
  packages/expo-cli/src/commands/upload/BaseUploader.ts
  packages/expo-cli/src/credentials/context.ts
  packages/next-adapter/src/customize/manifest.ts
  packages/schemer/README.md
  packages/xdl/src/UrlUtils.ts
  packages/xdl/src/__tests__/Exp-test.js
  packages/xdl/src/credentials/Credentials.ts
  packages/xdl/src/project/ExpSchema.ts
Labels: Expo config

#1689 [config] Spawn process to read config new each time
  packages/config/src/Errors.ts
  packages/config/src/Serialize.ts
  packages/config/src/__tests__/Serialize-test.js
  packages/config/src/__tests__/__snapshots__/Serialize-test.js.snap
  packages/config/src/__tests__/getConfig-test.js
  packages/config/src/getConfig.ts
  packages/config/src/scripts/read-config.ts
Labels: Expo config

#1690 [webpack-config] Fix source maps
  packages/webpack-config/src/addons/withOptimizations.ts
  packages/webpack-config/src/loaders/createBabelLoader.ts
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web, enhancement

#1696 [config] Added TypeScript support to app.config
  packages/babel-preset-cli/index.js
  packages/config/package.json
  packages/config/src/__tests__/ConfigParsing-test.js
  packages/config/src/__tests__/fixtures/language-support/ts/app.config.ts
  packages/config/src/getConfig.ts
  packages/config/src/scripts/read-config.ts
  yarn.lock
Labels: Expo config, enhancement

#1703 Remove Gzip compression from Webpack config
  packages/babel-preset-cli/ts-declarations/compression-webpack-plugin/index.d.ts
  packages/webpack-config/README.md
  packages/webpack-config/package.json
  packages/webpack-config/src/addons/__tests__/withCompression-test.js
  packages/webpack-config/src/addons/index.ts
  packages/webpack-config/src/addons/withCompression.ts
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-config/src/webpack.config.ts
  yarn.lock
Labels: Platform: web

#1518 Use devcert to create SSL certificate
  packages/webpack-config/src/addons/withDevServer.ts
  packages/xdl/package.json
  packages/xdl/src/UrlUtils.ts
  packages/xdl/src/Web.ts
  packages/xdl/src/Webpack.ts
  yarn.lock
Labels: Platform: web

#1711 [expo-cli] Created option for clearing web caches
  packages/expo-cli/src/commands/build/index.ts
  packages/xdl/src/Webpack.ts
Labels: Platform: web, enhancement

#1714 [webpack-config] Bump babel
  packages/webpack-config/package.json
  yarn.lock
Labels: Platform: web, bug with another tool

#1715 [webpack-config] Use a better progress plugin for improved logging
  packages/webpack-config/package.json
  packages/webpack-config/src/plugins/ExpoProgressBarPlugin.ts
  packages/webpack-config/src/utils/__tests__/search-test.js
  yarn.lock
Labels: Platform: web

#1716 [config] Move define plugin reducer method to webpack-config
  packages/config/src/Web.ts
  packages/webpack-config/src/addons/withUnimodules.ts
  packages/webpack-config/src/plugins/ExpoDefinePlugin.ts
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web

#1717 Deprecate custom `expo.web.build.rootId` key
  packages/config/src/Config.types.ts
  packages/config/src/Web.ts
  packages/webpack-config/src/plugins/ExpoInterpolateHtmlPlugin.ts
  packages/webpack-config/web-default/index.html
Labels: Platform: web

#1718 [webpack-config] Deprecate built-in Webpack reporting
  packages/config/src/Config.types.ts
  packages/next-adapter/src/customize/manifest.ts
  packages/webpack-config/README.md
  packages/webpack-config/package.json
  packages/webpack-config/src/addons/__tests__/withReporting-test.js
  packages/webpack-config/src/addons/index.ts
  packages/webpack-config/src/addons/withReporting.ts
  packages/webpack-config/src/env/__tests__/__snapshots__/validate-test.js.snap
  packages/webpack-config/src/env/__tests__/validate-test.js
  packages/webpack-config/src/env/validate.ts
  packages/webpack-config/src/types.ts
  packages/webpack-config/src/webpack.config.ts
  yarn.lock
Labels: Platform: web

#1719 [webpack-config] Deprecate noJavaScriptMessage
  packages/config/src/Config.types.ts
  packages/config/src/Web.ts
  packages/webpack-config/src/plugins/ExpoInterpolateHtmlPlugin.ts
  packages/webpack-config/web-default/index.html
Labels: Platform: web

#1721 [webpack-config] Use dynamic aliases for Webpack
  packages/electron-adapter/src/Webpack.ts
  packages/webpack-config/README.md
  packages/webpack-config/src/addons/__tests__/withAlias-test.js
  packages/webpack-config/src/addons/withAlias.ts
  packages/webpack-config/src/addons/withUnimodules.ts
  packages/webpack-config/src/env/alias.ts
  packages/webpack-config/src/env/index.ts
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web

#1720 [webpack-config] Deprecate the expo.web.dangerous.viewport meta tag
  packages/config/src/Config.types.ts
  packages/config/src/Web.ts
  packages/webpack-config/package.json
  packages/webpack-config/src/plugins/ExpoHtmlWebpackPlugin.ts
  packages/webpack-config/src/plugins/ModifyHtmlWebpackPlugin.ts
  packages/webpack-config/src/plugins/index.ts
  packages/webpack-config/src/webpack.config.ts
  packages/webpack-config/web-default/index.html
  packages/webpack-pwa-manifest-plugin/src/createMetatagsFromConfig.ts
  yarn.lock
Labels: Platform: web

#1741 [webpack-config] Added theme-color and description meta tag injection
  packages/webpack-config/src/plugins/ApplePwaWebpackPlugin.ts
  packages/webpack-config/src/plugins/ExpoHtmlWebpackPlugin.ts
Labels: Platform: web, bug

#1754 Fix node warning in expo-pwa
  packages/image-utils/package.json
  packages/pwa/src/cli.ts
  yarn.lock
Labels: Platform: web

#1755 Fix PWA Webpack bugs
  packages/pwa/src/Manifest.ts
  packages/pwa/src/cli.ts
  packages/webpack-config/src/plugins/ApplePwaWebpackPlugin.ts
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web

#1584 feat: make breaking app.json changes automatically
  packages/config/src/Config.types.ts
  packages/expo-cli/src/commands/__tests__/upgrade-test.ts
  packages/expo-cli/src/commands/upgrade.ts
Labels: Expo config
