Repository expo/expo-cli, pull requests merged in 2020-01, with the labels that each got.

#1299 refactor(cli) replace dist cert selector
  packages/expo-cli/src/commands/client/clientBuildApi.js
  packages/expo-cli/src/commands/client/index.js
  packages/expo-cli/src/commands/client/selectAdhocProvisioningProfile.js
  packages/expo-cli/src/commands/client/selectDistributionCert.js
  packages/expo-cli/src/commands/client/selectPushKey.js
Labels: waiting

#1432 [webpack] Remove ModuleScopePlugin
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web

#1433 Added proper TypeScript support for Webpack Config
  packages/babel-preset-cli/ts-declarations/pnp-webpack-plugin/index.d.ts
  packages/webpack-config/package.json
  packages/webpack-config/src/addons/index.ts
  packages/webpack-config/src/addons/withTypeScriptAsync.ts
  packages/webpack-config/src/webpack.config.ts
  yarn.lock
Labels: Platform: web

#1453 [web] update beta warning
  packages/xdl/src/createWebpackCompiler.ts
Labels: Platform: web

#1459 Revert typescript to match Metro functionality
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web

#1476 [webpack-config] Add support for web workers by default
  packages/webpack-config/package.json
  packages/webpack-config/src/loaders/createAllLoaders.ts
  packages/webpack-config/src/loaders/createWorkerLoader.ts
  packages/webpack-config/src/loaders/index.ts
  packages/webpack-config/src/webpack.config.ts
  yarn.lock
Labels: Platform: web

#1475 Add EXPO_WEB_BUILD_STRICT to enable warnings as errors in CI
  packages/xdl/README.md
  packages/xdl/src/Webpack.ts
Labels: Platform: web

#1457 fix(webpack-config): register general service worker in development
  packages/webpack-config/src/addons/withWorkbox.ts
Labels: Platform: web

#1493 Fix workflow extension support in webpack config
  packages/webpack-config/src/loaders/createBabelLoader.ts
Labels: Platform: web, bug

#1497 Move `@expo/next-adapter` to dev deps
  packages/next-adapter/src/customize/manifest.ts
Labels: Platform: web, enhancement

#1499 Remove default description, name, and primary color from web config
  packages/config/src/Config.types.ts
  packages/config/src/Web.ts
  packages/webpack-config/src/env/__tests__/__snapshots__/getConfig-test.js.snap
  packages/webpack-config/tests/basic/package.json
  packages/webpack-config/tests/nextjs/package.json
  packages/webpack-pwa-manifest-plugin/src/__tests__/__snapshots__/config-test.js.snap
Labels: Platform: web

#1496 Added license to webpack-config
  packages/webpack-config/LICENSE
  packages/webpack-config/LICENSE-create-react-app
Labels: Platform: web

#1495 Added doc blocks to webpack-config
  packages/webpack-config/src/Diagnosis.ts
  packages/webpack-config/src/addons/withAlias.ts
  packages/webpack-config/src/addons/withCompression.ts
  packages/webpack-config/src/addons/withDevServer.ts
  packages/webpack-config/src/addons/withEntry.ts
  packages/webpack-config/src/addons/withNodeMocks.ts
  packages/webpack-config/src/addons/withOptimizations.ts
  packages/webpack-config/src/addons/withReporting.ts
  packages/webpack-config/src/addons/withTypeScriptAsync.ts
  packages/webpack-config/src/addons/withUnimodules.ts
  packages/webpack-config/src/addons/withWorkbox.ts
  packages/webpack-config/src/env/alias.ts
  packages/webpack-config/src/env/extensions.ts
  packages/webpack-config/src/env/getConfig.ts
  packages/webpack-config/src/env/getMode.ts
  packages/webpack-config/src/env/paths.ts
  packages/webpack-config/src/env/validate.ts
  packages/webpack-config/src/index.ts
  packages/webpack-config/src/loaders/createAllLoaders.ts
  packages/webpack-config/src/loaders/createBabelLoader.ts
  packages/webpack-config/src/loaders/createFontLoader.ts
  packages/webpack-config/src/plugins/ExpoDefinePlugin.ts
  packages/webpack-config/src/plugins/ExpoHtmlWebpackPlugin.ts
  packages/webpack-config/src/plugins/ExpoInterpolateHtmlPlugin.ts
  packages/webpack-config/src/plugins/ExpoProgressBarPlugin.ts
  packages/webpack-config/src/utils/config.ts
  packages/webpack-config/src/utils/normalizePaths.ts
  packages/webpack-config/src/utils/search.ts
  packages/webpack-config/src/webpack.config.ts
Labels: Platform: web, enhancement
